<aside>
    <div class="brand-wrapper">
        <a href="#" class="brand">
            <img src="../assets/my-logo.png" alt="event bud" class="w-5">
            <h1 class="text-xl font-bold text-slate-300">EVENTBUD</h1>
        </a>
        <button type="button" class="bg-slate-700 px-1 rounded hover:text-emerald-600 transition ease-in-out"
            (click)="sidebarCollapsedHandler()">
            <i class="bi" [ngClass]="sidebarIsCollapsed ? 'bi-arrow-left-short' : 'bi-arrow-right-short'"></i>
        </button>
    </div>
    <ul class="menu-links">
        <li>
            <a [routerLink]="commonServices.prepareRoute(appRoutes.Admin, adminRoutes.Dashboard)" routerLinkActive="active" class="menu-item"
                ariaCurrentWhenActive="page">
                <i class="bi bi-columns-gap"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a class="menu-item" [routerLink]="commonServices.prepareRoute(appRoutes.Admin, adminRoutes.Events)" 
                routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-calendar4-event"></i>
                <span>Events</span>
            </a>
        </li>
        <li>
            <a class="menu-item" [routerLink]="commonServices.prepareRoute(appRoutes.Admin, adminRoutes.Elements)" 
                routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-diagram-3"></i>
                <span>UI Elements</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="menu-item sub-menu" aria-expanded="false" (click)="subMenuToggleHandler($event)">
                <i class="bi bi-sliders2-vertical"></i>
                <span>Settings</span>
            </a>
            <ul class="sub-menu-item">
                <li>
                    <a class="menu-item" [routerLink]="commonServices.prepareRoute(appRoutes.Admin, adminRoutes.Settings, settingRoutes.Profile)" 
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" [routerLink]="commonServices.prepareRoute(appRoutes.Admin, adminRoutes.Settings, settingRoutes.Users)" 
                        routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-item" ariaCurrentWhenActive="page">
                        <span>Website</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-item">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</aside>