/* Sidebar */
.sidebar {
    @apply sticky top-0 px-3 bg-slate-900 min-h-screen pt-5 transition-all duration-300
}

.sidebar[aria-expanded=true] {
    @apply w-60
}

.sidebar[aria-expanded=false] {
    @apply w-14 overflow-hidden
}

.brand-wrapper{
    @apply flex items-center min-h-[2rem] justify-between
}

.brand {
    @apply flex items-center gap-x-2 transition-all duration-300
}

app-sidebar[aria-expanded="false"] .brand-wrapper {
    @apply justify-evenly
}

app-sidebar[aria-expanded="false"] .brand {
    @apply scale-0 w-0
}

/* Sidebar Links */
.menu-links {
    @apply flex flex-col gap-y-3 pt-5 font-medium;
}

.menu-item {
    @apply inline-flex w-full gap-x-2 items-center px-2 py-1 text-gray-500 transition duration-300 ease-in-out rounded overflow-hidden
}

.menu-item span{
    @apply text-sm
}

.sidebar[aria-expanded=false] .menu-links .menu-item span{
    @apply hidden
}

.menu-item.active {
    @apply text-emerald-600
}

.menu-item:hover {
    @apply bg-slate-800 text-emerald-600
}

.menu-item i::before {
    @apply inline
}

.sub-menu {
    position: relative;
}

.sub-menu[aria-expanded=true] {
    @apply text-gray-300
}

.sub-menu::after {
    font-family: "Bootstrap-Icons";
    content: "\F282";
    position: absolute;
    font-size: 0.5rem;
    right: 0;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.sub-menu[aria-expanded=true]::after {
    transform: rotateZ(90deg);
}

.sub-menu[icon-hidden]::after {
    opacity: 0;
}

.sub-menu-item {
    @apply flex flex-col ml-4 pl-2 border-l border-slate-700 text-sm overflow-hidden max-h-0 transition-[max-height] duration-300 ease-in-out
}

.sub-menu[aria-expanded=true]+.sub-menu-item {
    @apply !max-h-96
}
