<div [@pageTransition]>
   <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Fill buttons</h3>
      </div>
      <div class="mt-5">
         <button type="button"
            class="btn-sm text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Primary-sm
         </button>
         <button type="button"
            class=" btn-lg text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Primary-lg
         </button>
         <button type="button"
            class="btn-xl text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Primary-xl
         </button>
      </div>
   </div>
</div>