<div id="accordion-collapse" data-accordion="collapse">
   @if(items.length > 0){
   @for(item of items; track item){
   <div class="border border-b-0 border-gray-200 last:border ">
      <h2 id="accordion-collapse-heading-1">
         <button type="button" accordionButton data-accordion-target="#accordion-collapse-body-1"
            aria-controls="accordion-collapse-body-1">
            <span>{{item.Title}}</span>
            <i class="bi bi-caret-down"></i>
         </button>
      </h2>
      <div id={{item.id}} [ngClass]="!isCollapse ? ' hidden' : 'block' " aria-labelledby="accordion-collapse-heading-1">
         <div class="p-5   border-t">
            <p class="mb-2 text-gray-500 text-sm">
               {{item.Contents}}
            </p>
         </div>
      </div>
   </div>
   }
   }@else {
   <ng-template>
      <ng-content></ng-content>
   </ng-template>
   }
</div>