/* 
input[type="radio"]:focus {
  outline:#1da2bd;
}

input[type="radio"]:hover {
  background-color: pink;
  border: solid 2px blue;
}

input[type="radio"]:focus-visible {
  outline: auto 2px #1da2bd;
} */
