<div [@pageTransition]>
   <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Input Sizes</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-sm">
            <div class="form-group">
               <label for="large-input" class="form-label"> Large input </label>
               <input type="text" id="large-input" placeholder="Large input" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
               <label for="base-input" class="form-label"> Base input </label>
               <input type="text" id="base-input" placeholder="Base input" class="form-control" />
            </div>
            <div class="form-group">
               <label for="small-input" class="form-label"> Small input </label>
               <input type="text" id="small-input" placeholder="Small input" class="form-control form-control-sm" />
            </div>
         </form>
      </div>
   </div>
   <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Select input</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-sm">
            <label for="countries" class="form-label">
               Select your country
            </label>
            <select id="countries" class="form-select">

               <option>United States</option>
               <option>Canada</option>
               <option>France</option>
               <option>Germany</option>
            </select>
         </form>
         
      </div>
   </div>
   <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Checkbox</h3>
      </div>
      <div class="mt-5">
         <div class="form-check">
            <input checked id="checkbox-1" type="checkbox" value="" class="form-check-input" />
            <label for="checkbox-1" class="form-check-label">I agree to the
               <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
         </div>
         <div class="form-check">
            <input id="checkbox-2" type="checkbox" value="" class="form-check-input" />
            <label for="checkbox-2" class="form-check-label">I want to get
               promotional offers</label>
         </div>
         <div class="form-check">
            <input id="checkbox-3" type="checkbox" value="" class="form-check-input" />
            <label for="checkbox-3" class="form-check-label">I am 18 years or
               older</label>
         </div>
         <div class="form-check">
            <input id="international-shipping-disabled" type="checkbox" value="" class="form-check-input" disabled />
            <label for="international-shipping-disabled" class="form-check-label">Eligible for international shipping
               (disabled)</label>
         </div>
      </div>
   </div>
   <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Radio buttons</h3>
      </div>
      <div class="mt-5">
         <div class="flex items-center mb-4">
            <input id="gender-option-1" type="radio" name="gender" value="man" class="form-check-input" checked />
            <label for="gender-option-1" class="form-check-label">
               Man
            </label>
         </div>
         <div class="flex items-center mb-4">
            <input id="gender-option-2" type="radio" name="gender" value="women" class="form-check-input" />
            <label for="gender-option-2" class="form-check-label">
               Women
            </label>
         </div>
         <div class="flex items-center mb-4">
            <input id="gender-option-3" type="radio" name="gender" value="other" class="form-check-input" />
            <label for="gender-option-3" class="form-check-label">
               Other
            </label>
         </div>
         <div class="flex items-center mb-4">
            <input id="gender-option-4" type="radio" name="gender" value="none" class="form-check-input" disabled />
            <label for="gender-option-4" class="form-check-label">
               none
            </label>
         </div>
      </div>
   </div>
   <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Toggle Switch</h3>
      </div>
      <div class="mt-5">
         <label class="form-switch">
            <input type="checkbox" value="" class="sr-only peer" />
            <div class="form-input-switch">
            </div>
            <span class="form-check-label">Toggle me</span>
         </label>
      </div>
   </div>
</div>