/* pagination */

.ng-wind-table-pagination {
    @apply flex items-center flex-wrap md:flex-row justify-between pt-4 text-xs;
  }
  .ng-wind-table-page-view {
    @apply flex  items-center font-normal text-gray-500  mb-4 md:mb-0  w-full  md:w-auto;
  }
  
  .ng-wind-page-btn {
    @apply flex items-center justify-center px-2 h-7 ms-0 leading-tight text-gray-500 bg-white border border-gray-300  hover:bg-gray-100;
  }
  
  .page-number {
    @apply flex items-center justify-center px-3 h-7 leading-tight text-gray-500  border border-gray-300;
  }
  .active-page {
    @apply bg-blue-100 hover:bg-blue-100 hover:text-blue-700;
  }
  .ng-wind-page-prev {
    @apply rounded-s-md ng-wind-page-btn;
  }
  .ng-wind-page-next {
    @apply rounded-e-md ng-wind-page-btn;
  }
  .page-number-show-dropdown:focus {
    border: 0 !important;
  }
  