<div class="card p-5 ">
  <div class="card-title">
    <h3 class="text-xl font-bold leading-none mb-8">{{setting.tableName}}</h3>
  </div>
  <div class="mt-3">
    <div class=" sm:rounded-lg">
      <div class="data-table">
        <div class="table-container">
          <table class="ng-wind-table relative">
            <thead class="ng-wind-table-header">
              <tr>
                <th scope="col" class="ng-wind-header-item border {{column.utils.display}} "
                  *ngFor="let column of setting.columns" [width]="column.utils.width">
                  <div class="flex items-center" [ngClass]="column.utils.align ? column.utils.align : '' ">
                    {{column.title}}
                    <div *ngIf="column.isSortable">
                      <button (click)="onSort(column.name, isSortActive(column.name, 1) ?2:1)"
                        *ngIf="shorting === false" class="ml-2 text-lg ">
                        <i
                          [ngClass]="isSortActive(column.name, 1) ? 'bi bi-arrow-down-short' : 'bi bi-arrow-up-short'"></i>
                      </button>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <div class=" text-center  w-full absolute top-52" *ngIf="isLoading">
              <data-table-loader />
            </div>
            <div class=" text-center  w-full absolute top-52" *ngIf="isError">
              <data-error />
            </div>
            <tbody *ngIf="!isLoading">
              @if(dataLength > 0 ){
                @for (row of row$ | async; track row?.id){
                <tr class="bg-white border-b  hover:bg-gray-50">
                  @for(column of setting.columns; track column?.action){
                  <td
                    class="ng-wind-data-item font-medium text-gray-800 whitespace-nowrap border {{column.utils.display}} "
                    [width]="column.utils.width" *ngIf="!column.isAction">
                    <span class="{{ column.utils.align ? 'flex ' + column.utils.align : '' }}" style="text-wrap: wrap;"
                      *ngIf="column.formatter == null">
                      {{row[column.name] }}
                    </span>
                    <div *ngIf="column.formatter && column.action" (click)="column.action(row)"
                      [innerHTML]="column.formatter(row) | safeHtml">
                    </div>
                    <div *ngIf="column.formatter && !column.action" [innerHTML]="column.formatter(row) | safeHtml"></div>
                  </td>
                  <td class="ng-wind-data-item font-medium text-gray-800 whitespace-nowrap {{column.utils.display}}"
                    [width]="column.utils.width" *ngIf="column.isAction">
                    <div class="{{ column.utils.align ? 'flex ' + column.utils.align : '' }}">
                      @for(action of column.actions; track action){
                      <button type="button" class="btn btn-{{action.class}}  btn-xs mx-1.5" (click)="action?.action(row)">
                        <i class="{{action.buttonConfig.icon}}"></i> {{action.buttonConfig.tittle}}
                      </button>
                      }
                    </div>
                  </td>
                }
              </tr>
              }
              } @else if(!isError) {
              <div class=" text-center  w-full absolute top-52 ">
                <data-not-found />
              </div>
              }
            </tbody>
          </table>
        </div>
      </div>
      <pagination *ngIf="totalRows" (changePage)="changePage($event)" [currentPage]="currentPageIndex"
        [total]="totalRows" [pageSize]="pageSize" />
    </div>
  </div>
</div>