/* sticky table */
.data-table {
  & .table-container {
    height: 350px;
    max-height: 412px;
    overflow: auto;
  }
  th {
    @apply bg-slate-50;
  }

  & th[scope="col"] {
    position: sticky;
    top: 0;
  }
}

.table-container::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

.table-container::-webkit-scrollbar-track {
  @apply bg-slate-200;
}

.table-container::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-sm;
}

.table-container::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-200;
}

.table-container {
  scrollbar-width: thin;
  scrollbar-color: bg-slate-500;
}

/* table  */

.ng-wind-table {
  @apply w-full text-xs text-left text-gray-500;
}
.ng-wind-table-header {
  @apply text-xs text-gray-700 uppercase bg-gray-50 z-50;
}
.ng-wind-header-item {
  @apply px-3 py-2;
}
.ng-wind-data-item {
  @apply px-3 py-2;
}

.sort-column {
  float: right;
  cursor: pointer;
  opacity: .6
}

.sort-active {
  opacity: 1 !important;
}

.table-error-btn{
  @apply inline-flex items-center px-4 py-1 font-normal leading-6 text-sm shadow rounded-md bg-purple-100 text-purple-800 transition ease-in-out duration-150 cursor-not-allowed
}