<div class="bg-green-400 text-sm">
    <div class="flex justify-between items-center">
        <div class="px-8">
            <i class="bi bi-check2-circle mr-2"></i>
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ab dolores, assumenda quis
                dignissimos ipsum!</span>
        </div>
        <div class="bg-green-500">
            <a href="javascript:void(0)">
                <i class="bi bi-x-circle"></i>
            </a>
        </div>
    </div>
</div>